html {
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
    margin: 0;
}

svg {
    width: 80%;
    height: auto;
    display: block;
}
