html {
    font-family: "Montserrat";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: #222;
    margin: 0;
}

#svg-container {
    width: 100vw;
    height: auto;
}

svg {
    width: 100%;
    height: auto;
    display: block;
}
 