

html, body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #333;
}

#svg-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.darkscene{
    background-color: black;
}

#Barrel, #Rope, #Knife, #Light, #Sign, #Key {
    cursor: pointer;
}

@media screen and (max-width: 768px) { 
    body {
        transform: rotate(90deg);
        transform-origin: center;
        width: 100vh;
        height: 100vw;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
    }

    #svg-container {
        width: 100vh;
        height: 100vw;
    }
}


#popup-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
}


#popup-box {
    background: rgb(239, 208, 9);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.popuptext{
    font-weight: 900;
}

.show-popup {
    visibility: visible !important;
    opacity: 1 !important;
}

